@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*STYLE RESET START*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;

}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:hover{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: #ff5912;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
/*STYLE RESET END*/

/*DEFAULT CLASSES START*/
.flex-container{
    display: flex;
}
.justify-sb{
    justify-content: space-between;
}
.justify-sa{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.white-bg{
    background-color: #fff;
}
.icon {
    display: inline-block;
}
.text-orange{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.dark-blue-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.sales-block .light-orange-bg{
    transform: rotate(-45deg);
}
.icon-search-ic:hover{
    background-position: -81px 0px;
}
.icon-add-to-cart-ic:hover {
    background-position: 0px -38px;
}
.icon-cart-ic:hover{
    background-position: -20px -59px;
}
.icon-user-ic:hover{
    background-position: 0px -59px;
}
.icon-share-ic:hover {
    background-position: -44px -59px;
}
.icon-like-ic:hover {
    background-position: -38px -80px;
}
/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENTS START*/
.header .top-header{
    padding: 23px 0;
}
.header-contacts li{
    display: inline-block;
}
.header-contacts li + li{
    margin-left: 23px;
}
.header-contacts li span{
    margin-left: 10px;
}
.header-socials li{
    display: inline-block;
}
.header-socials li + li{
    margin-left: 14px;
}
.header .bottom-header{
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
    padding: 40px 0;
}
.header .bottom-header .header-nav a{
    font-size: 16px;
}
.header .bottom-header .header-nav a + a{
    margin-left: 35px;
}
.user-controls{
    white-space: nowrap;
}
.user-controls a{
    position: relative;
    display: inline-block;
}
.header .bottom-header .user-controls a + a{
    margin-left: 30px;
}
.header .bottom-header .cart-counter{
    padding-top: 3px;
    text-align: center;
    min-width: 18px;
    height: 18px;
    position: absolute;
    top: -100%;
    left:50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #ffffff;
    display: inline-block;
    background-color: #34404b;
    border: 1px solid #34404b;
    border-radius: 50%;
}
.header .bottom-header .header-nav{
    margin-left: 80px;
}
.header .bottom-header .user-controls{
    margin-left: auto;
}
.title{
    font-family: 'Harmonia_black';
    font-size: 36px;
    margin-bottom: 25px;
    text-transform: uppercase;

}
.title.big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
.item-carousel-subtitle{
    font-family:'Harmonia_semibold';
    color: #3c4751;
    font-size: 18px;
}
.item-carousel-description{
    color: #495662;
    margin-top: 18px;
    font-size: 16px;
}
.price-n-order{
    font-family:'Harmonia_semibold';
    font-size: 18px;
    margin-top: 65px;
}
.order-now{
    display: inline-block;
    margin-left: 25px;
}
.order-now span+span{
    display: inline-block;
    margin-left: 15px;
}
.section-descriptions{
    font-size: 16px;
    line-height:1.9;
}
.items-wrap{
    margin-top: 80px;
}
.product-item{
    font-family:'Harmonia_bold';
    font-size: 18px;
    padding: 30px 10px;
    position: relative;
    height: 372px;
}
.product-item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-description{
    padding:0 37px;
    margin-top: 30px;
}
.product-item .item-title{
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-item .item-img {
    height: 216px;
    transition: all .3s linear;
}
.product-item .item-img img{
    max-height: 100%;
}
.product-item .more-info-on-hover{
    z-index: -1;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding:0 50px;
    transition: all .3s linear .2s;
}
.product-item:hover .item-price{
    display: none;
}
.product-item:hover .item-title{
    color: #ff5912;
}
.product-item:hover .item-img{
    height: 90px;
}
.product-item:hover .more-info-on-hover{
    z-index:99;
    opacity: 1;
}
.product-item .colors{
    border-bottom:1px solid #f2f4f7;
    padding-bottom: 30px;
    margin-top: 30px;
}
.product-item .item-controls{
    margin-top: 30px;
    align-items: baseline;
}
.product-item li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
p{
    color: #495662;
}

/*DEFAULT COMPONENTS END*/

.sale-carousel{
    min-height: 650px;
    background: url('../img/carousel-img-1.jpg') no-repeat center / cover;
    margin-bottom: 60px;
}
#sale-carousel{
    padding-left: 8%;
}
.sale-carousel .carousel-indicators{
    width: auto;
    bottom:auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.sale-carousel .carousel-indicators li{
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    display: block;
    margin: 0;
    border: none;
    width: 10px;
    height: 16px;
    transition: all .3s linear;
}
.sale-carousel .carousel-indicators li + li{
    margin-top: 10px;
}
.sale-carousel .carousel-indicators li.active{
    background-color: #ff5912;
    height: 36px;
}
.show-more-items{
    margin-top: 80px;
}
.show-more-items>a{
    padding: 25px 0;
    display: block;
    height: 100%;
}
.show-more-items span + span{
    margin-left: 4px;
}
.orange-circle{
    display: inline-block;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}
.kit{
    height: 100px;
    padding: 20px 60px;
    border:1px solid #eaedef;
}
.winter-kit{
    padding: 0 30px;
    border-right: 1px solid #f2f4f7;
}
.title.kit-title{
    font-size: 22px;
    margin-bottom: 0;
}
.item-names{
    line-height: 2.2;
}
.cart-n-price .title{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0;
}
.dollor{
    display: inline-block;
    margin-left: -10px;
    font-size: 25px;
}
.sales-block{
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg{
    display: inline-block;
    width: 50px;
    height: 60px;
}

.sales-block .orange-bg{
    transform: rotate(45deg);
    left: 0;
    top: 0;
    position: absolute;
}
.sale{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    color: #ffffff;
    font-family:'Harmonia_italic';
}
.sale span{
    text-align: center;
    display: block;
}
.sale .percent{
    margin-top: 3px;
    font-family:'Harmonia_black';
    font-size: 18px;
}
.adv-area{
    height: 100px;
    padding: 30px 0;
    border:1px solid #eaedef;
}
.adv-area-title{
    font-size: 16px;
}
.adv-sizes{
    display: inline-block;
    margin-top: 16px;
    opacity: .4;
    letter-spacing: .6em;

}
