@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*STYLE RESET START*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;

}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:hover{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: #ff5912;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
label{
    margin: 0;
}
input, button, select{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
/*STYLE RESET END*/

/*DEFAULT CLASSES START*/
.flex-container{
    display: flex;
}
.justify-sb{
    justify-content: space-between;
}
.justify-sa{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.white-bg{
    background-color: #fff;
}
.icon {
    display: inline-block;
}
.text-orange{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.dark-blue-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.sales-block .light-orange-bg{
    transform: rotate(-45deg);
}
.icon-search-ic:hover{
    background-position: -81px 0px;
}
.icon-add-to-cart-ic:hover {
    background-position: 0px -38px;
}
.icon-cart-ic:hover{
    background-position: -20px -59px;
}
.icon-user-ic:hover{
    background-position: 0px -59px;
}
.icon-share-ic:hover {
    background-position: -44px -59px;
}
.icon-like-ic:hover {
    background-position: -38px -80px;
}
.bd-bottom{
    border-bottom: 1px solid #edeff1;
}
/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENTS START*/
.header{
    position: relative;
}
.header .top-header{
    padding: 23px 0;
}
.header-contacts li{
    display: inline-block;
}
.header-contacts li + li{
    margin-left: 23px;
}
.header-contacts li span{
    margin-left: 10px;
}
.header-socials li{
    display: inline-block;
}
.header-socials li + li{
    margin-left: 14px;
}
.header .bottom-header{
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
    padding: 40px 0;
}
.header .bottom-header .header-nav a{
    font-size: 16px;
}
.header .bottom-header .header-nav a + a{
    margin-left: 35px;
}
.user-controls{
    white-space: nowrap;
}
.user-controls a{
    position: relative;
    display: inline-block;
}
.header .bottom-header .user-controls a + a{
    margin-left: 30px;
}
.header .bottom-header .cart-counter{
    padding-top: 3px;
    text-align: center;
    min-width: 18px;
    height: 18px;
    position: absolute;
    top: -100%;
    left:50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #ffffff;
    background-color: #34404b;
    border: 1px solid #34404b;
    border-radius: 50%;
}
.header .bottom-header .header-nav{
    margin-left: 80px;
}
.header .bottom-header .user-controls{
    margin-left: auto;
}
@media (max-width: 991px) {
    .slicknav_menu{
        display: block;
    }
    .header .header-nav{
        display: none;
    }
    .header .bottom-header .user-controls{
        margin: 0;
    }
}

@media (max-width: 479px) {
    .header .bottom-header .logo,
    .header .bottom-header .slicknav_menu{
        min-width: 50%;
    }
    .header-contacts li{
        display: block;
    }
    .header-contacts li +li{
        margin-top: 10px;
        margin-left: 0;
    }
    .header .bottom-header .container>.flex-container{
        flex-wrap: wrap;
    }
    .header .bottom-header .user-controls{
        order: 1;
        margin: 20px auto 0;
    }

}
.title{
    font-family: 'Harmonia_black';
    font-size: 36px;
    margin-bottom: 25px;
    text-transform: uppercase;

}
.title.big{
    font-size: 52px;
}
@media (max-width: 599px) {
    .title{
        font-size: 28px;
        margin-bottom: 18px;
    }
    .title.big{
        font-size: 35px;
    }
}
@media (max-width: 479px) {
    .title.big{
        font-size: 26px;
    }
}
.default-section{
    padding: 60px 0;
}

@media (max-width: 599px) {
    .default-section{
        padding: 30px 0;
    }
}
.item-subtitle{
    font-family:'Harmonia_semibold';
    color: #3c4751;
    font-size: 18px;
}
.paragraph-description{
    font-size: 16px;
    color: #495662;
}

@media (max-width: 599px) {
    .paragraph-description{

    }
}
.item-carousel-description{
    margin-top: 18px;
}
.price-n-order{
    font-family:'Harmonia_semibold';
    font-size: 18px;
    margin-top: 65px;
}
.order-now{
    display: inline-block;
    margin-left: 25px;
}
.order-now span+span{
    display: inline-block;
    margin-left: 8px;
}

@media (max-width: 599px) {
    .price-n-order{
        margin-top: 45px;
    }
}
.items-wrap{
    margin-top: 80px;
}
.product-item{
    font-family:'Harmonia_bold';
    font-size: 18px;
    padding: 30px 10px;
    position: relative;
    height: 372px;
}
.product-item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-description{
    padding:0 37px;
    margin-top: 30px;
}
.product-item .item-title{
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-item .product-sizes{
    font-family:'Harmonia_regular';
    font-size: 14px;
}
.product-item .item-img {
    height: 216px;
    transition: all .3s linear;
}
.product-item .item-img img{
    max-height: 100%;
}
.product-item .more-info-on-hover{
    z-index: -1;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding:0 50px;
    transition: all .3s linear .2s;
}
.product-item:hover .item-price{
    display: none;
}
.product-item:hover .item-title{
    color: #ff5912;
}
.product-item:hover .item-img{
    height: 90px;
}
.product-item:hover .more-info-on-hover{
    z-index:99;
    opacity: 1;
}
.product-item .colors{
    border-bottom:1px solid #f2f4f7;
    padding-bottom: 30px;
    margin-top: 30px;
}
.item-controls{
    align-items: baseline;
    max-width: 163px;
}
.product-item .item-controls{
    margin-top: 30px;
    margin:auto;
}
.product-item li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
@media (max-width: 1199px) {
    .product-item .item-description{
        padding: 0;
    }
    .product-item .more-info-on-hover{
        padding: 0 20px;
    }
}@media (max-width: 991px) {
    .product-item{
        margin-bottom: 30px;
    }
}
p{
    color: #495662;
}
.subscribe-form{
    padding: 35px 45px;
}

.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] +label{
    user-select: none;
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
input[type="checkbox"]:checked + label {
    color: #ff5912;
}
input[type="checkbox"]:checked + label::before {
    border-color: #ff5912;
}
.ui-widget.ui-widget-content{
    border: none;
    background-color: #edf0f2;
    border-radius:0;
    height: 3px;
}
.add-range-value{
    margin-top: 30px;
}
.ui-slider .ui-slider-range{
    background-color: #34404b;
}
.min-value,
.max-value{
    position: absolute;
    transform: translateX(-25%);
    bottom: 200%;
    color: #34404b;
}
.ui-widget-content .ui-state-default.ui-slider-handle{
    width: 11px;
    height: 11px;
    background-color: #34404b;
    border-radius:50%;
    border: none;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    cursor: pointer;
    margin-left: -.3em;
}
.small-title{
    font-family:'Harmonia_bold';
    font-size: 18px;
}
footer{
    margin-top: 60px;
    padding: 90px 0 80px;
    color: #28313b;
}
footer .footer-logo{
    flex-direction:column;
    font-size: 14px;
}
.footer-logo span{
    display: inline-block;
    margin-top: 25px;
}

.footer-nav ul{
    font-size: 14px;
    list-style: unset;
}
.footer-nav ul + ul{
    margin-left: 80px;
}
.footer-nav ul li:hover{
    color: #ff5912;
}
.footer-nav ul li + li{
    margin-top: 21px;
}
.payment-methods>span{
    font-family:'Harmonia_semibold';
    font-size: 16px;
}
.payment-methods-icon{
    margin-top: 22px;
}
.payment-methods-icon li + li{
    margin-left: 7px;
}
@media (max-width: 991px) {
    footer{
        padding: 70px 0 60px;
    }
    footer .footer-logo{
        width: 100px;
        font-size: 12px;
    }
    .footer-nav ul + ul{
        margin-left: 60px;
    }
    .payment-methods-icon{
        margin-top: 17px;
    }
    .payment-methods-icon li + li{
        margin-left: 5px;
    }

}
@media (max-width: 767px) {
    footer .container> .flex-container{
        flex-direction: column;
    }
    footer .footer-logo{
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }
    .footer-nav{
        margin-bottom: 30px;
    }
    .payment-methods{
        text-align: center;
    }

}
@media (max-width: 479px) {
    .footer-nav{
        padding: 0 15px;
    }

    .footer-nav ul + ul{
        margin-left: 40px;
    }

    .footer-nav ul li + li{
        margin-top: 12px;
    }

}
/*DEFAULT COMPONENTS END*/

.sale-carousel{
    min-height: 650px;
    background: url('../img/carousel-img-1.jpg') no-repeat center / cover;
    margin-bottom: 60px;
}
#sale-carousel{
    padding-left: 8%;
}
.sale-carousel .carousel-indicators{
    width: auto;
    bottom:auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.sale-carousel .carousel-indicators li{
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    display: block;
    margin: 0;
    border: none;
    width: 10px;
    height: 16px;
    transition: all .3s linear;
}
.sale-carousel .carousel-indicators li + li{
    margin-top: 10px;
}
.sale-carousel .carousel-indicators li.active{
    background-color: #ff5912;
    height: 36px;
}

@media (max-width: 991px) {
    .sale-carousel{
        min-height: 500px;
    }
}
@media (max-width: 599px) {
    .sale-carousel{
        min-height: 370px;
    }
}
.show-more-items{
    margin-top: 80px;
}
.show-more-items>a{
    padding: 25px 0;
    display: block;
    height: 100%;
}
.show-more-items span + span{
    margin-left: 4px;
}

@media (max-width: 599px) {
    .show-more-items{
        margin-top: 25px;
    }
}
.orange-circle{
    display: inline-block;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}
.kit{
    height: 100px;
    padding: 20px 60px;
    border:1px solid #eaedef;
}
.winter-kit{
    padding: 0 30px;
    border-right: 1px solid #f2f4f7;
}
.title.kit-title{
    font-size: 22px;
    margin-bottom: 0;
}
.item-names{
    line-height: 2.2;
}
.cart-n-price .title{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0;
}
.dollor{
    font-family:'Harmonia_black';
    display: inline-block;
    margin-left: -3px;
    font-size: 25px;
}
.sales-block{
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg{
    display: inline-block;
    width: 50px;
    height: 60px;
}

.sales-block .orange-bg{
    transform: rotate(45deg);
    left: 0;
    top: 0;
    position: absolute;
}
.sale{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    color: #ffffff;
    font-family:'Harmonia_italic';
}
.sale span{
    text-align: center;
    display: block;
}
.sale .percent{
    margin-top: 3px;
    font-family:'Harmonia_black';
    font-size: 18px;
}
@media (max-width: 1199px) {
    .kit{
        padding:20px 30px;
    }
    .cart-n-price .title{
        margin-left: 10px;
    }
}
@media (max-width: 911px) {
    .kit {
        margin-bottom: 30px;
    }
}
@media (max-width: 599px) {
    .kit {
        height: 300px;
    }
    .kit > .flex-container{
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        text-align: center;
    }
}
.adv-area{
    padding: 27px 0;
    border:1px solid #eaedef;
}
.adv-area-title{
    font-size: 16px;
}
.adv-sizes{
    display: inline-block;
    margin-top: 16px;
    opacity: .4;
    letter-spacing: .6em;

}
.best-sales .paragraph-description{
    margin-bottom: 80px;
}
.best-item{
    padding: 35px 0;
}
.best-item-img{
    padding: 0 25px;
}
.best-item-img img{
    width: 100%;
}
.best-item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-item-title a:hover{
    color: #34404b;
}
.best-item-info{
    margin-top: 30px;
    opacity:1;
    transition: all .3s linear;
}
.stars li{
    display: inline-block;
    font-size: 16px;
}
.best-item-description{
    position: relative;
    padding: 0 25px;
    border-left: 1px solid #eaedef;
}
.empty-star{
    color: #e8ecf3;
}
.best-item-price{
    font-family:'Harmonia_bold';
    font-size: 16px;
}
.best-item-cart-hover{
    position: absolute;
    bottom: 5px;
    left: 50px;
    margin-top: 25px;
    opacity: 0;
    font-size: 16px;
    transition: all .3s linear;
}
.best-item-cart-hover .best-item-cart-hover-text{
    align-self: center;
    font-family:'Harmonia_semibold';
}
.best-item-cart-hover-text{
    margin-left: 10px;
}
.best-item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.best-item:hover .best-item-cart-hover{
    opacity: 1;
}
.best-item:hover .best-item-info{
    opacity: 0;
}
@media (max-width: 1199px) {
    .best-item{
        padding: 35px 0;
    }
    .best-item-img,
    .best-item-description{
        padding: 0 15px;
    }
    .best-item-cart-hover{
        left: 40px;
    }
}
@media (max-width: 767px) {
    .best-item{
        margin-bottom: 30px;
    }
    .best-item-img{
        margin:auto;
    }
    .best-item-description{
        padding: 0;
        text-align: center;
        width: 60%;
    }
    .best-item-info{
        justify-content: space-around;
    }
    .best-item-cart-hover{
        display: flex;
        width: 100%;
        justify-content: center;
        left: auto;
    }
}
@media (max-width: 479px){
    .best-item-description {
        padding: 0 15px;
        width: auto;
    }
    .best-item-cart-hover{
        margin-left: -15px;
    }
}


    .more-item-product{
    font-family:'Harmonia_italic';
    font-size: 14px;
}
.letter-title{
    text-transform: uppercase;
}
.join-us{
    vertical-align: middle;
    display: inline-block;
    margin-left: 30px;
}
.subscribe-input{
    margin-right: 30px;
    min-width: 260px;
    color: #7c8791;
    padding: 0 11px;
}
.btn{
    padding: 17px 30px;
    font-family:'Harmonia_semibold';
    border: none;
    border-radius: 0;
}
.btn.btn-default{
    background-color: #ff5912;
    color: #ffffff;
}
.btn.btn-default:hover{
    opacity: .85;
}
@media (max-width: 991px) {
    .subscribe-form{
        flex-wrap: wrap;
        justify-content: center;
    }
    .subscribe-description{
        margin-bottom: 30px;
    }
}
@media (max-width: 599px) {
    .subscribe-form{
        padding: 25px 15px;
    }
    .subscribe-description{
        margin-bottom: 20px;
    }
}
@media (max-width: 479px) {
    .subscribe-form .join-us{
        margin: 20px auto 0;
    }
    .subscribe-form form{
        width: 100%;
        flex-wrap: wrap;
    }
    .subscribe-form form button{
        width: 100%;
        margin-top: 20px;
    }
    .subscribe-input{
        min-width: auto;
    }
    .subscribe-description{
        margin-right: auto;
    }
    .subscribe-description .letter-title{
        display: block;
    }
}

.category-wrap{
    padding-top: 120px;
    padding-bottom: 60px;
}
.category-wrap .product-item{
    margin-bottom: 30px;
}
.category-wrap .show-more-items{
    margin-top: 0;
}
.mobile-sidebar-btn{
    display: none;
    font-size: 30px;
    color: #ff5912;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .mobile-sidebar-btn {
        display: block;
    }
    .mobile-sidebar-btn .fa{
        transition: all .3s linear;
    }
    .mobile-sidebar-wrap{
        position: absolute;
        transform: translateX(-150%);
        z-index: 99;
        transition: all .3s linear;
        left: 0;
        right: 0;
    }
    main.show .mobile-sidebar-wrap{
        transform: translateX(0);
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        background-color: rgba(0,0,0, .4);
        transition: all .3s linear;
    }
    main.show .overlay{
        opacity: 1;
        z-index: 98;
    }
    main.show .mobile-sidebar-btn .fa{
        transform: rotate(-180deg);
    }
}
.aside-section, .ui-widget{
    font-family:'Harmonia_semibold';
    font-size: 16px;
}
.aside-section .aside-title{
    font-family:'Harmonia_black';
    margin-bottom: 38px;
    font-size: 18px;
}
.categories ul li + li{
    margin-top: 37px;
}
.range{
    margin-top: 60px;
    font-size: 14px;
}
#fromValue,
#toValue{
    padding: 0 4px;
    width: 45px;
    height: 25px;
    background-color: #edf0f2;
    margin-left: 10px;
}
.aside-section .checkbox-group + .checkbox-group{
    margin-top: 30px;
}

/*product slider start*/
.product-slider{
    padding: 40px 0;
    width: 330px;
}
.product-slider .flexslider{
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .flex-direction-nav a{
        opacity: .8;
    }
}
@media (max-width: 478px) {
    .product-slider{
        width: 300px;
    }
    .flex-control-thumbs li{
        width: 90px;
    }

    element.style {
        width: 300px;
        margin-right: 0px;
        float: left;
        display: block;
    }
    .flexslider .slides > li{
        width: 300px;
    }
}

/*product slider end*/
/*product description start*/

.product-wrap{
    padding: 60px 0 85px;
    margin-bottom: 60px;
}
.size-radio{
    position: relative;
}
.size-radio input[type="radio"]{
    display: none;
}
.size-radio label{
    font-size: 14px;
    user-select: none;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.size-radio + .size-radio{
    margin-left: 19px;
}
.size-radio + .size-radio::before{
    content: '-';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -13px;
}
.name-n-text,
 .order-prod-now{
     padding: 40px 0;
 }

.order-form{
    padding: 35px 0;
}
.product-description .paragraph-description{
    margin-top: 40px;
    line-height: 2;
}
.vertical-bd{
    width: 1px;
    height: 30px;
    background-color: #f0f2f3;
}
.item-count span,
.choose-size span{
    vertical-align: middle;
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.item-count span{
    margin-right: 17px;
}
.radio-list-btn{
    font-size: 14px;
    font-family:'Harmonia_semibold';
    margin-left: 20px;
}
.product-description .item-controls{
    width: 125px;
}
.product-description .btn{
    font-size: 18px;
    margin-left: 25px;
    border-radius: 27px;
}
.order-price{
    font-family:'Harmonia_black';
    font-size: 20px;
    color: #34404b;
    margin-right: auto;
}
@media (max-width: 599px) {
    .product-wrap{
        padding: 60px 0 40px;
    }
    #product-option-form,
    .order-prod-now{
        flex-wrap: wrap;
    }
    #product-option-form .vertical-bd{
        display: none;
    }
    #product-option-form > *{
        width: 100%;
    }
    #product-option-form .item-count{
        margin-top: 20px;
    }
    .order-prod-now{
        justify-content: space-around;
    }
    .order-prod-now .order-price{
        width: 50%;
        margin: 0;
    }
    .order-prod-now .item-controls{
        width: 50%;
    }
    .order-prod-now button.btn-default{
        margin: 35px auto 0;
    }
}
/*product description end*/
.range-input-reoup{
    display: flex;
    align-items: baseline;
}
